{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% bootstrap_css %}
</head>
<body>
  <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'uitspraken:index' %}">Home</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'uitspraken:scraper' %}">Scrape</a>
                </li>
            </ul>
        </div>
      </nav>
  </header>

  <main>
      <div class="container mt-4">
          {% block content %}
          {% endblock %}
      </div>
  </main>

{% block extra_scripts %}
{% endblock %}

</body>
</html>