{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-md-9">
        {% if uitspraken %}
        <table class="table">
            <thead>
                <tr>
                    <th class="col-3">Uitspraak</th>
                    <th class="col">Samenvatting</th>
                </tr>
            </thead>
            <tbody>
                {% for uitspraak in uitspraken %}
                <tr class="table-row" data-href="{% url 'uitspraken:uitspraak' uitspraak.id %}" data-oordeel="{{ selected_oordelen|join:',' }}" data-label="{{ selected_labels|join:',' }}" data-letter="{{ selected_letters|join:',' }}">
                    <td>
                        <p>{{ uitspraak.titel }}</p>
                        <p>{{ uitspraak.datum }}</p>
                        <p>
                            {% for trefwoord in uitspraak.trefwoorden.all %}
                                {% if trefwoord.type == "proceduresoort" %}
                                    <span class="badge badge-primary">{{ trefwoord.naam }}</span>
                                {% elif trefwoord.type == "rechtsgebied" %}
                                    <span class="badge badge-info">{{ trefwoord.naam }}</span>
                                {% endif %}
                            {% endfor %}
                            <span class="badge badge-success">{{ uitspraak.plaats }}</span>
                            <span class="badge badge-warning">{{ uitspraak.provincie }}</span>
                        </p>
                        <h3>
                            <span class="badge badge-dark">{{ uitspraak.get_label_display }}</span>
                            <span class="badge badge-secondary">{{ uitspraak.oordeel }}</span>
                        </h3>
                        <h3>
                            {% if uitspraak.letters %}
                                {% for letter in uitspraak.letters.all %}
                                    <span class="badge badge-warning">{{ letter.letter }}</span>
                                {% endfor %}
                            {% endif %}
                        </h3>
                        <h3>
                            {% if uitspraak.appellant_types %}
                                {% for a in uitspraak.appellant_types.all %}
                                    <span class="badge badge-danger">{{ a.type }}</span>
                                {% endfor %}
                            {% endif %}
                        </h3>
                    </td>
                    <td>{{ uitspraak.beslissing }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>Geen uitspraken beschikbaar</p>
        {% endif %}
        {% if is_paginated %}
          <div class="pagination-summary">
            Showing {{ page_obj.start_index }}-{{ page_obj.end_index }} of {{ page_obj.paginator.count }} results
          </div>
          <nav aria-label="Page navigation">
            <ul class="pagination">
              {% if page_obj.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page=1" aria-label="First">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">First</span>
                  </a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&lsaquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
              {% endif %}

              {% for i in page_obj.paginator.page_range %}
                {% if i == page_obj.number %}
                  <li class="page-item active">
                    <span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
                  </li>
                {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                  </li>
                {% endif %}
              {% endfor %}

              {% if page_obj.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&rsaquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Last</span>
                  </a>
                </li>
              {% endif %}
            </ul>
          </nav>
        {% endif %}
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Filter Uitspraken</h5>
                <form method="GET" action="{% url 'uitspraken:index' %}">
                    <div class="form-group">
                        <label>Filter by Proceduresoort:</label><br>
                        {% for trefwoord in proceduresoort_trefwoorden %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="proceduresoort-{{ trefwoord.id }}" name="proceduresoort" value="{{ trefwoord.id }}" {% if trefwoord.id in selected_proceduresoort %}checked{% endif %}>
                                <label class="form-check-label" for="proceduresoort-{{ trefwoord.id }}">{{ trefwoord.naam }}</label>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        <label>Filter by Rechtsgebied:</label><br>
                        {% for trefwoord in rechtsgebied_trefwoorden %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="rechtsgebied-{{ trefwoord.id }}" name="rechtsgebied" value="{{ trefwoord.id }}" {% if trefwoord.id in selected_rechtsgebied %}checked{% endif %}>
                                <label class="form-check-label" for="rechtsgebied-{{ trefwoord.id }}">{{ trefwoord.naam }}</label>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label>Filter by Oordeel:</label><br>
                        {% for oordeel in all_oordelen %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="oordeel-{{ oordeel }}" name="oordeel" value="{{ oordeel }}" {% if oordeel in selected_oordelen %}checked{% endif %}>
                                <label class="form-check-label" for="oordeel-{{ oordeel }}">{{ oordeel }}</label>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label>Filter by Label:</label><br>
                        {% for label, value in all_labels.items %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="label-{{ label }}" name="label" value="{{ label }}" {% if label in selected_labels %}checked{% endif %}>
                                <label class="form-check-label" for="label-{{ label }}">{{ value }}</label>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label>Filter by letter:</label><br>
                        {% for letter in all_letters %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="letter-{{ letter.letter }}" name="letter" value="{{ letter.letter }}" {% if letter.letter in selected_letters %}checked{% endif %}>
                                <label class="form-check-label" for="letter-{{ letter.letter }}">{{ letter.letter }} - {{ letter.description }}</label>
                            </div>
                        {% endfor %}
                    </div>
                    <button type="submit" class="btn btn-primary">Filter</button>
                    <a href="{% url 'uitspraken:index' %}" class="btn btn-secondary">Clear Filter</a>
                </form>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block extra_scripts %}
<script>
document.addEventListener("DOMContentLoaded", function() {
   var tableRows = document.getElementsByClassName("table-row");
   Array.from(tableRows).forEach(function(row) {
       row.addEventListener("mouseover", function() {
           this.style.backgroundColor = "#f7f7f7";
       });
       row.addEventListener("mouseout", function() {
           this.style.backgroundColor = "";
       });
       row.addEventListener("click", function() {
           console.log(this.dataset)
           let url = this.dataset.href;
           let oordelen = this.dataset.oordeel.split(',');
           let oordeel_url = "";
           if (oordelen.length > 0) {
               oordeel_url = oordelen.map(o => `oordeel=${o}`).join('&');
           }
           let labels = this.dataset.label.split(',');
           let label_url = "";
           if (labels.length > 0) {
               label_url = labels.map(l => `label=${l}`).join('&');
           }
           let letters = this.dataset.letter.split(',');
           let letter_url = "";
           if (letters.length > 0) {
               letter_url = letters.map(l => `letter=${l}`).join('&');
           }
           if (url) {
               window.location.href = `${url}?${oordeel_url}&${label_url}&${letter_url}`;
           }
       });
   });
});
</script>
{% endblock %}