{% extends 'base.html' %}

{% block content %}

<div class="navigation-button fixed">
{% if previous_uitspraak %}
  <a class="btn btn-primary" href="/uitspraken/{{ previous_uitspraak.id }}">Previous</a>
{% endif %}
{% if next_uitspraak %}
  <a class="btn btn-primary" href="/uitspraken/{{ next_uitspraak.id }}">Next</a>
{% endif %}
</div>
<div class="row">
    <div class="col-md-6">
        <h1 class="d-inline">
            {{ uitspraak.titel }}
        </h1>
        <h3>
            <span class="badge badge-success">{{ uitspraak.plaats }}</span>
            <span class="badge badge-warning">{{ uitspraak.provincie }}</span>
        </h3>
    </div>
    <div class="col-md-6 text-right">
        <div class="dropdown">
            <select id="label-dropdown" class="btn btn-primary">
                {% for value, label in uitspraak.label_choices %}
                    <option value="{{ value }}" {% if value == uitspraak.label %}selected{% endif %}>{{ label }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <p><strong>{{ uitspraak.appellant }}</strong><br/>
        vs<br/>
        <strong>{{ uitspraak.counterpart }}</strong></p>
</div>
<div class="alert alert-info">
    <strong>Oordeel:</strong> {{ uitspraak.oordeel }}
    <br>
    {{ uitspraak.uitleg }}
    <p>
        <i>
            <ol start="1">
                <li>het beroep wordt niet-ontvankelijk verklaard.</li>
                <li>de Raad van State bevestigt de aangevallen uitspraak</li>
                <li>het beroep wordt gegrond verklaard. Het bestreden besluit wordt geheel vernietigd.</li>
                <li>het beroep wordt gegrond verklaard. Het bestreden besluit wordt gedeeltelijk vernietigd.</li>
                <li>Anders</li>
            </ol>
        </i>
    </p>
</div>
<p>{{ uitspraak.samenvatting }}</p>
    <div class="label-list">
        {% for trefwoord in uitspraak.trefwoorden.all %}
            {% if trefwoord.type == "proceduresoort" %}
                <span class="badge badge-primary">{{ trefwoord.naam }} ({{ trefwoord.type }})</span>
            {% elif trefwoord.type == "rechtsgebied" %}
                <span class="badge badge-info">{{ trefwoord.naam }} ({{ trefwoord.type }})</span>
            {% endif %}
        {% endfor %}
    </div>
<p>{{ uitspraak.ecli }}</p>
<p><a href="{{ uitspraak.link }}" target="_blank">Bekijk uitspraak op Raadvanstate.nl</a></p>
<p>{{ uitspraak.datum }}</p>
<p>{{ uitspraak.inhoud|linebreaksbr }}</p>

<div class="navigation-button fixed">
{% if previous_uitspraak %}
  <a class="btn btn-primary" href="/uitspraken/{{ previous_uitspraak.id }}">Previous</a>
{% endif %}
{% if next_uitspraak %}
  <a class="btn btn-primary" href="/uitspraken/{{ next_uitspraak.id }}">Next</a>
{% endif %}
</div>

<script>
    $(document).ready(function () {
        $('#label-dropdown').on('change', function () {
            var newLabel = $(this).val();
            var instanceId = {{ uitspraak.id }};

            $.ajax({
                type: 'POST',
                url: '/uitspraken/update-label/' + instanceId + '/',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    label: newLabel,
                },
                success: function () {
                    // Update the view without refreshing the page
                    $('#label-dropdown option:selected').prop('selected', false);
                    $('#label-dropdown option[value="' + newLabel + '"]').prop('selected', true);
                }
            });
        });
    });
</script>

{% endblock %}

<style>
    .label-list span {
      display: inline-block;
      margin-right: 5px;
      margin-bottom: 5px;
    }
</style>